.sidenav {
  width: 300px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  height:100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a.Davy-Jones:hover {
  color: #748364;
}

.sidenav a.Major-Tom:hover {
  color: #2956a5;
}

.sidenav a.Ziggy-Stardust:hover {
  color: #c31913;
}

.sidenav a.Aladdin-Sane:hover {
  color: #ff7bac;
}

.sidenav a.Halloween-Jack:hover {
  color: #dd6333;
}

.sidenav a.Thin-White-Duke:hover {
  color: #666666;
}

.sidenav a.Sources:hover {
  color: #0071bc;
}

.main {
  margin-left: 300px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

a {
  display:inline-block;
}

h1 {
  font-family: Oswald, sans-serif;
  font-weight: bold;
  text-align: center;
}

h3 {
  text-align: center;
  font-weight: normal;
  font-family: Oswald, sans-serif;
  font-weight:lighter;
  font-size:18pt;
}

p {
  margin:auto;
  padding:20px;
}

img {
  display:block;
  margin:auto;
  padding:20px;
}

img.Homepage {
  width:50%;
}

body {
  font-family: Arial, sans-serif;
}

div.timeline {
  position: fixed;
  width: 2px;
  background-color: black;
  top: 20px;
  bottom: 10px;
  margin-left: 27px;
  height:540px;
}

footer {
  font-size:10.5pt;
  margin-top: 200px;
  margin-left:30px;
  font-family: Oswald, sans-serif;
  font-weight:lighter;
}


div.button {
  position:relative;
  float:left;
  border-radius: 50%;
  background-color:black;
  height:12px;
  width:12px;
  margin-left:29.5px;
  margin-top:17px auto;
  display:block;
}

div.button#Davy-Jones:hover:before {
  position:absolute;
  top:-5.5px;
  left:-5px;
  content:'';
  background-color:transparent;
  border:2px solid #748364;
  height:150%;
  width:150%;
  border-radius: 50%;
}

div.button#Davy-Jones:hover:after{
  position:absolute;
  top:-11.5px;
  left:-11px;
  content:'';
  background-color:transparent;
  border:2px solid #748364;
  height:250%;
  width:250%;
  border-radius: 50%;
}

div.button#Major-Tom:hover:before {
  position:absolute;
  top:-5.5px;
  left:-5px;
  content:'';
  background-color:transparent;
  border:2px solid #2956a5;
  height:150%;
  width:150%;
  border-radius: 50%;
}

div.button#Major-Tom:hover:after{
  position:absolute;
  top:-11.5px;
  left:-11px;
  content:'';
  background-color:transparent;
  border:2px solid #2956a5;
  height:250%;
  width:250%;
  border-radius: 50%;
}

div.button#Ziggy-Stardust:hover:before {
  position:absolute;
  top:-5.5px;
  left:-5px;
  content:'';
  background-color:transparent;
  border:2px solid #c31913;
  height:150%;
  width:150%;
  border-radius: 50%;
}

div.button#Ziggy-Stardust:hover:after{
  position:absolute;
  top:-11.5px;
  left:-11px;
  content:'';
  background-color:transparent;
  border:2px solid #c31913;
  height:250%;
  width:250%;
  border-radius: 50%;
}

div.button#Aladdin-Sane:hover:before {
  position:absolute;
  top:-5.5px;
  left:-5px;
  content:'';
  background-color:transparent;
  border:2px solid #ff7bac;
  height:150%;
  width:150%;
  border-radius: 50%;
}

div.button#Aladdin-Sane:hover:after{
  position:absolute;
  top:-11.5px;
  left:-11px;
  content:'';
  background-color:transparent;
  border:2px solid #ff7bac;
  height:250%;
  width:250%;
  border-radius: 50%;
}

div.button#Halloween-Jack:hover:before {
  position:absolute;
  top:-5.5px;
  left:-5px;
  content:'';
  background-color:transparent;
  border:2px solid #dd6333;
  height:150%;
  width:150%;
  border-radius: 50%;
}

div.button#Halloween-Jack:hover:after{
  position:absolute;
  top:-11.5px;
  left:-11px;
  content:'';
  background-color:transparent;
  border:2px solid #dd6333;
  height:250%;
  width:250%;
  border-radius: 50%;
}

div.button#Thin-White-Duke:hover:before {
  position:absolute;
  top:-5.5px;
  left:-5px;
  content:'';
  background-color:transparent;
  border:2px solid #666666;
  height:150%;
  width:150%;
  border-radius: 50%;
}

div.button#Thin-White-Duke:hover:after{
  position:absolute;
  top:-11.5px;
  left:-11px;
  content:'';
  background-color:transparent;
  border:2px solid #666666;
  height:250%;
  width:250%;
  border-radius: 50%;

}

div.button#Sources:hover:before {
  position:absolute;
  top:-5.5px;
  left:-5px;
  content:'';
  background-color:transparent;
  border:2px solid #0071bc;
  height:150%;
  width:150%;
  border-radius: 50%;
}

div.button#Sources:hover:after{
  position:absolute;
  top:-11.5px;
  left:-11px;
  content:'';
  background-color:transparent;
  border:2px solid #0071bc;
  height:250%;
  width:250%;
  border-radius: 50%;

}

div.button#Davy-Jones:hover {
  background-color: #748364;
}

div.button#Major-Tom:hover {
  background-color: #2956a5;
}

div.button#Ziggy-Stardust:hover {
  background-color: #c31913;
}

div.button#Aladdin-Sane:hover {
  background-color: #ff7bac;
}

div.button#Halloween-Jack:hover {
  background-color: #dd6333;
}

div.button#Thin-White-Duke:hover {
  background-color: #666666;
}

div.button#Sources:hover {
  background-color: #0071bc;
}

.sidenav a {
  font-family: Oswald;
  font-weight: normal;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  margin-left:17%;
  height:100%
}

a.Davy-Jones {
  height: 100px;
  margin:15px;
  margin-top:-20px;
  width:200px;
  margin-bottom:20px;
}

a.Major-Tom {
  height: 100px;
  margin:15px;
  margin-top:-20px;
  width:200px;
  margin-bottom:20px;
}

a.Ziggy-Stardust {
  height: 100px;
  margin:15px;
  margin-top:-20px;
  width:200px;
  margin-bottom:20px;
}

a.Aladdin-Sane {
  height: 100px;
  margin:15px;
  margin-top:-20px;
  width:200px;
  margin-bottom:20px;
}

a.Halloween-Jack {
  height: 100px;
  margin:15px;
  margin-top:-20px;
  width:200px;
  margin-bottom:20px;
}

a.Thin-White-Duke {
  height: 100px;
  margin:15px;
  margin-top:-20px;
  width:200px;
  margin-bottom:20px;
}

a.Sources {
  height: 100px;
  margin:15px;
  margin-top:-20px;
  width:200px;
  margin-bottom:20px;
}