header {
	margin-bottom:3rem;
}

p {
	line-height:1.6;
}

.see-all {
	font-size:0.8em;
	text-transform: uppercase;
}

h1 {
	font-size:2.5rem;
	font-weight: lighter;
}
#unbreakable-kimmy-schmidt, #game-of-thrones {
	border-top-style:solid;
}

h2 {
	font-size:1rem;
	text-transform: uppercase;
}

img {
	width:100%;
}

section .cast li {
	width:25%;
	font-size:0.8rem;
}

section .cast li a div:nth-child(2) {
	font-style:italic;
}

section .cast li a div:nth-child(3) {
	font-weight:bold;
}

nav li.selected {
	color:black;
	font-weight:bold;
}

#game-of-thrones .seasons ul li:nth-child(9):after {
	content: "*";
}

#game-of-thrones .seasons ul:after {
	display:block; 
	content:"* Final Season";
	font-size:0.7rem;
	color:#999;
}
